@import '../../../theming/theming';

@mixin exo-tabs-platform($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .mat-tab-nav-bar {
    border: 0;
  }

  .mat-tab-link {
    opacity: 1;
  }
  .mat-tab-body-content,
  .mat-tab-body.mat-tab-body-active,
  .mat-tab-body-wrapper {
    // for drop shadows
    overflow: visible;
  }
  .mat-tab-body-content.ng-animating {
    overflow: hidden;
  }
  .centered .mat-tab-header {
    margin: 0 auto;
  }

  a.mat-tab-link {
    color: mat-color($foreground, 'text');
    &.mat-tab-label-active {
      color: mat-color($primary);
    }
  }
}
