.highlight-edition{
  .hover{
    cursor: pointer;
    &.mat-chip{
      border: 1px solid transparent;
      cursor: pointer;
    }
  }
  .edit-icon {
    font-size: 16px;
    cursor: pointer;
  }
  &.default-icon-position {
      position: relative;
      padding-right: 20px;
      .edit-icon {
        position: absolute;
        top: 0;
        right: 0;
      }
  }
}
