@import '../../theming/theming';
@mixin exo-hint-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-hint {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;

    color: mat-color($exo-grey, 900, 0.64);

    &.primary-color {
      color: mat-color($primary);
    }

    &.accent-color {
      color: mat-color($accent);
    }

  }
}
