@import '../../theming';


// config
$card-box-shadow: 0 2px 6px 0;
$no-mat-elevation-box-shadow: 0 2px 6px 0 rgba(70, 70, 75, 0.32);

body {
  mat-card {
    padding: map-get($spaceMeasures, 'xs');
  }
}

body {
  .exo-platform {
    mat-card {
      padding: 0;
      box-shadow: $card-box-shadow;
      border-radius: map-get($spaceMeasures, 'xxs');
      overflow: hidden;
      &:not([class*=mat-elevation-z]) {
        box-shadow: $no-mat-elevation-box-shadow;
      }
      &.card-container-padding {
        padding: map-get($spaceMeasures, 'sm');
      }
      mat-card-header {
        padding: map-get($spaceMeasures, 'sm') map-get($spaceMeasures, 'sm') 0 map-get($spaceMeasures, 'sm');
      }
      mat-card-content {
        padding: map-get($spaceMeasures, 'sm');
      }
      mat-card-actions,
      mat-card-actions.mat-card-actions:last-child {
        margin: 0;
        padding: 0 map-get($spaceMeasures, 'sm') map-get($spaceMeasures, 'sm');
      }
      &.card-section {
        mat-card-content {
          padding: map-get($spaceMeasures, 'lg');
          @media #{map-get($mediaqueries, 'lt-sm')}{
            padding: map-get($spaceMeasures, 'xs');
          }
        }
      }
    }
  }
}
