@import '../../theming';
@import '../../typographies/platform/exo-platform-mixins.scss';

@mixin dialog-actions {
  .mat-dialog-actions {
    margin: 0;
    flex-direction: row;
    display: flex;
    place-content: center flex-end;
    align-items: center;
    @media #{map-get($mediaqueries, 'lt-xs')}{
      flex-direction: column-reverse;
      display: flex;
      place-content: flex-end flex-start;
      align-items: flex-end;
      button:not(:last-child){
        margin-top: map-get($spaceMeasures, 'xs');
      }
    }
  }
}


.mat-dialog-container {
  border-radius: 8px;
  @include dialog-actions;
  div.mat-dialog-title {
    @include service-title();
    z-index: 1;
    margin-bottom: map-get($spaceMeasures, 'sm');
    mat-icon {
      cursor: pointer;
      font-size: 20px;
      font-weight: $weight-regular;
    }
  }

  .mat-dialog-content {
    @include service-body-1();
    width: 100%;
    margin-bottom: 24px;
    @media #{map-get($mediaqueries, 'gt-sm')}{
      max-width: 720px !important; // 768 - 48 padding
      min-width: 350px !important;
    }
  }
  .perfect-scrollbar{
    max-height: 65vh;
    &.with-actions {
      max-height: calc(65vh - 68px);
    }
    overflow: initial;
    .ps.ps--active-y > .ps__rail-y {
      right: -20px !important;
    }
  }
}

.dark-header {
  margin: -24px -24px 0px -24px !important ;
}

.full-screen-panel {
  max-width: 100vw !important;
}

.full-screen-container {
  @include dialog-actions;
}
