@import '../../theming/theming';

@mixin exo-snackbar-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-simple-snackbar-action,
  .mat-simple-snackbar-action button.mat-button span {
    color: mat-color($exo-red, 500);
  }

  .mat-simple-snackbar-action button {
    max-height: map-get($spaceMeasures, 'lg');
  }

  .mat-snack-bar-container {
    height: map-get($spaceMeasures, 'lg');
    color: white;
    @media #{map-get($mediaqueries, 'lt-sm')} {
      width: 100%;
    }
    max-width: map-get($breakpoints, 'md');
    background: mat-color($background, 'status-bar');

    &.error {
      background: mat-color($exo-red, 500);
    }

    &.success {
      background: mat-color($exo-teal, A400);
    }

    &.error, &.success {
      .mat-button span {
        color: white;
      }
    }
  }
}

