@import '../../theming';
@mixin exo-colors-theme($theme) {
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .foreground-text{
    color: mat-color($foreground, 'text');
  }

  .foreground-secondary-text{
    color: mat-color($foreground, 'secondary-text');
  }

  .foreground-icon{
    color: mat-color($foreground, 'icon');
  }

  .foreground-disabled-text{
    color: mat-color($foreground, 'disabled-text');
  }

  .foreground-disabled{
    color: mat-color($foreground, 'disabled');
  }

  .foreground-divider{
    color: mat-color($foreground, 'divider');
  }

  .primary-color{
    color: mat-color($primary);
  }

  .accent-color{
    color: mat-color($accent);
  }

  .error-color{
    color: mat-color($exo-red, A200);
  }
}
