<h3>Basic Buttons</h3>
<exo-button selector="mat-button" (clicked)="clicked()">
  Basic
</exo-button>
<exo-button selector="mat-button" color="primary" (clicked)="clicked()">
  Primary
</exo-button>
<exo-button selector="mat-button" color="accent" (clicked)="clicked()">
  Accent
</exo-button>
<exo-button selector="mat-button" color="warn" (clicked)="clicked()">
  Warn
</exo-button>
<exo-button selector="mat-button" [disabled]="true " (clicked)="clicked()">
  Disabled
</exo-button>

<h3>Raised Buttons</h3>
<div class="example-button-row">
  <exo-button selector="mat-raised-button" (clicked)="clicked()">Basic</exo-button>
  <exo-button selector="mat-raised-button" color="primary" (clicked)="clicked()">Primary</exo-button>
  <exo-button selector="mat-raised-button" color="accent" (clicked)="clicked()">Accent</exo-button>
  <exo-button selector="mat-raised-button" color="warn" (clicked)="clicked()">Warn</exo-button>
  <exo-button selector="mat-raised-button" [disabled]="true" (clicked)="clicked()">Disabled</exo-button>
</div>

<h3>Stroked Buttons</h3>
<div class="example-button-row">
  <exo-button selector="mat-stroked-button" (clicked)="clicked()">Basic</exo-button>
  <exo-button selector="mat-stroked-button" color="primary" (clicked)="clicked()">Primary</exo-button>
  <exo-button selector="mat-stroked-button" color="accent" (clicked)="clicked()">Accent</exo-button>
  <exo-button selector="mat-stroked-button" color="warn" (clicked)="clicked()">Warn</exo-button>
  <exo-button selector="mat-stroked-button" disabled (clicked)="clicked()">Disabled</exo-button>
</div>

<h3>Flat Buttons</h3>
<div class="example-button-row">
  <exo-button selector="mat-flat-button" (clicked)="clicked()">Basic</exo-button>
  <exo-button selector="mat-flat-button" color="primary" (clicked)="clicked()">Primary</exo-button>
  <exo-button selector="mat-flat-button" color="accent" (clicked)="clicked()">Accent</exo-button>
  <exo-button selector="mat-flat-button" color="warn" (clicked)="clicked()">Warn</exo-button>
  <exo-button selector="mat-flat-button" disabled (clicked)="clicked()">Disabled</exo-button>
</div>

<h3>Icon Buttons</h3>
<div class="example-button-row">
  <exo-button selector="mat-icon-button" (clicked)="clicked()">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </exo-button>
  <exo-button selector="mat-icon-button" color="primary" (clicked)="clicked()">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </exo-button>
  <exo-button selector="mat-icon-button" color="accent" (clicked)="clicked()">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </exo-button>
  <exo-button selector="mat-icon-button" color="warn" (clicked)="clicked()">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </exo-button>
  <exo-button selector="mat-icon-button" disabled (clicked)="clicked()">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </exo-button>
</div>

<h3>Fab Buttons</h3>
<div class="example-button-row">
  <exo-button selector="mat-fab" (clicked)="clicked()">Basic</exo-button>
  <exo-button selector="mat-fab" color="primary" (clicked)="clicked()">Primary</exo-button>
  <exo-button selector="mat-fab" color="accent" (clicked)="clicked()">Accent</exo-button>
  <exo-button selector="mat-fab" color="warn" (clicked)="clicked()">Warn</exo-button>
  <exo-button selector="mat-fab" disabled (clicked)="clicked()">Disabled</exo-button>
  <exo-button selector="mat-fab" (clicked)="clicked()">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </exo-button>
</div>

<h3>Mini Fab Buttons</h3>
<div class="example-button-row">
  <exo-button selector="mat-mini-fab" (clicked)="clicked()">Basic</exo-button>
  <exo-button selector="mat-mini-fab" color="primary" (clicked)="clicked()">Primary</exo-button>
  <exo-button selector="mat-mini-fab" color="accent" (clicked)="clicked()">Accent</exo-button>
  <exo-button selector="mat-mini-fab" color="warn" (clicked)="clicked()">Warn</exo-button>
  <exo-button selector="mat-mini-fab" disabled (clicked)="clicked()">Disabled</exo-button>
  <exo-button selector="mat-mini-fab" (clicked)="clicked()">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </exo-button>
</div>

<div class="alternate-theme">
  <h3>Example Alternative Theme Basic Buttons</h3>
  <exo-button selector="mat-raised-button" (clicked)="clicked()">
    Basic
  </exo-button>
  <exo-button selector="mat-raised-button" color="primary" (clicked)="clicked()">
    Primary
  </exo-button>
  <exo-button selector="mat-raised-button" color="accent" (clicked)="clicked()">
    Accent
  </exo-button>
  <exo-button selector="mat-raised-button" color="warn" (clicked)="clicked()">
    Warn
  </exo-button>
  <exo-button selector="mat-raised-button" [disabled]="true " (clicked)="clicked()">
    Disabled
  </exo-button>
</div>
