@import '../../../theming/theming';

@mixin exo-platform-datepicker-theme($theme) {
  $color: mat-color($exo-indigo, 900);
  $foreground: map-get($theme, foreground);

  .md2-calendar-header,
  .md2-calendar-body-selected,
  .md2-clock-cell.md2-clock-cell-selected{
    background-color: $color !important;
  }
  .md2-calendar-body-today:not(.md2-calendar-body-selected){
    border-color: $color!important;
    background: none !important;
  }
  .md2-datepicker-input.md2-datepicker-input-focused {
    color: $color !important;
    border-color: $color !important;
  }
  .md2-datepicker-value {
    color: mat-color($foreground, 'text') !important;
  }
  .md2-datepicker-input {
    color: mat-color($foreground, 'secondary-text') !important;
  }
}
