<div class="text-styles">
  <h1>Text Styles</h1>
  <h3>Supertitles</h3>

  <div class="text-styles--card">
    <h4>Display-1</h4>
    <p class="display-1">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>

  <h3>Titles and subtitles</h3>
  <div class="text-styles--card">
    <h4>Headline</h4>
    <p class="headline">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>

  <div class="text-styles--card">
    <h4>Title</h4>
    <p class="title">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>

  <div class="text-styles--card">
    <h4>Subheading-2</h4>
    <p class="subheading-2">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>

  <div class="text-styles--card">
    <h4>Section</h4>
    <p class="section">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>

  <h3>Body Texts</h3>
  <div class="text-styles--card">
    <h4>Body-1</h4>
    <p class="body-1">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>
  <div class="text-styles--card">
    <h4>Body-2</h4>
    <p class="body-2">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>
  <div class="text-styles--card">
    <h4>Big body</h4>
    <p class="big-body">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>
  <div class="text-styles--card">
    <h4>Caption-1</h4>
    <p class="caption-1">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>
  <div class="text-styles--card">
    <h4>Caption-2</h4>
    <p class="caption-2">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>
  <h3>Special Classes</h3>
  <div class="text-styles--card">
    <h4>Button</h4>
    <a mat-button>
      CTA TEXT
    </a>
  </div>
  <div class="text-styles--card">
    <h4>Mini-caption</h4>
    <p class="mini-caption">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>
  <div class="text-styles--card">
    <h4>Input</h4>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Label input</mat-label>
        <input matInput value="The lazy dog">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </form>
  </div>
</div>
