<div class="text-styles">
  <h1>Text Styles</h1>
  <h3>Supertitles</h3>

  <div class="text-styles--card">
    <h4>Display-1</h4>
    <p class="mat-display-1">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>

  <h3>Titles and subtitles</h3>
  <div class="text-styles--card">
    <h4>Headline</h4>
    <p class="mat-headline">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>
  <div class="text-styles--card">
    <h4>Subheading-2</h4>
    <p class="mat-subheading-2">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>

  <h3>Body Texts</h3>
  <div class="text-styles--card">
    <h4>Body-1</h4>
    <p class="mat-body-1">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>
  <div class="text-styles--card">
    <h4>Body-2</h4>
    <p class="mat-body-2">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>
  <div class="text-styles--card">
    <h4>Caption</h4>
    <p class="mat-caption">
      The quick brown fox jumps over the lazy dog
    </p>
  </div>

  <h3>Special Classes</h3>
  <div class="text-styles--card">
    <h4>Button</h4>
    <a mat-button>
      CTA TEXT
    </a>
  </div>
  <div class="text-styles--card">
    <h4>Input</h4>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Placeholder" value="The lazy dog">
      </mat-form-field>
    </form>
  </div>
</div>
