$static-root: '/static/';

// Component Measures
$componentMeasure: (
  '0.3x': 16px,
  '0.5x': 24px,
  '1x': 48px,
  '1.5x': 72px,
  '2x': 96px,
  '3x': 144px,
  '4x': 192px,
  '6x': 288px,
  '8x': 384px,
  '18x': 864px,
  '20x': 960px,
  '24x': 1152px,
);

// Space measures
$spaceMeasures: (
  'xxxs': 4px,
  'xxs': 8px,
  'xs': 16px,
  'sm': 24px,
  'lg': 48px,
  'xl': 72px,
);

//Breakpoints
$breakpoints: (
  'xxs': 479px,
  'xs': 599px,
  'sm': 959px,
  'md': 1279px,
  'lg': 1919px,
);

//Mediaqueries
$mediaqueries: (
  xxs: 'screen and (max-width: #{map-get($breakpoints, 'xxs')} )',
  xs: 'screen and (min-width: #{map-get($breakpoints, 'xxs') + 1}) and (max-width: #{map-get($breakpoints, 'xs')})',
  sm: 'screen and (min-width: #{map-get($breakpoints, 'xs') + 1}) and (max-width: #{map-get($breakpoints, 'sm')})',
  md: 'screen and (min-width: #{map-get($breakpoints, 'sm') + 1}) and (max-width: #{map-get($breakpoints, 'md')})',
  lg: 'screen and (min-width: #{map-get($breakpoints, 'md') + 1}) and (max-width: #{map-get($breakpoints, 'lg')})',
  xl: 'screen and (min-width: #{map-get($breakpoints, 'lg') + 1}) and (max-width: #{map-get($breakpoints, 'xl')})',
  lt-xs: 'screen and (max-width: #{map-get($breakpoints, 'xxs')})',
  lt-sm: 'screen and (max-width: #{map-get($breakpoints, 'xs')})',
  lt-md: 'screen and (max-width: #{map-get($breakpoints, 'sm')})',
  lt-lg: 'screen and (max-width: #{map-get($breakpoints, 'md')})',
  lt-xl: 'screen and (max-width: #{map-get($breakpoints, 'lg')})',
  gt-xxs: 'screen and (min-width: #{map-get($breakpoints, 'xxs')})',
  gt-xs: 'screen and (min-width: #{map-get($breakpoints, 'xs')})',
  gt-sm: 'screen and (min-width:  #{map-get($breakpoints, 'sm')})',
  gt-md: 'screen and (min-width: #{map-get($breakpoints, 'md')})',
  gt-lg: 'screen and (min-width: #{map-get($breakpoints, 'lg')})',
);
