<section>
  <h3>Inputs</h3>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <input matInput placeholder="Placeholder">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <button mat-icon-button disabled>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
  </div>
</section>
<section>
  <h3>Dropdown </h3>
  <div class="example-button-row">
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <button mat-icon-button disabled>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
  </div>
</section>
<section>
  <h3>Area input</h3>
  <div class="example-button-row">
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <button mat-icon-button disabled>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
  </div>
</section>
