<section>
  <h3>Primary buttons</h3>
  <button mat-flat-button color="primary">
    cta text
  </button>
  <button mat-flat-button color="primary" disabled>
    Disabled
  </button>
  <a mat-flat-button routerLink="." color="primary">Anchor</a>
</section>

<section>
  <h3>Secondary buttons</h3>
  <button mat-flat-button color="accent">
    cta text
  </button>
  <button mat-flat-button color="accent" disabled>
    disabled
  </button>
</section>

<section>
  <h3>Tertiary buttons</h3>
  <button mat-button color="primary">
    cta text
  </button>
  <button mat-button color="primary" disabled>
    disabled
  </button>
</section>

<section>
  <h3>Buttons with Icons</h3>
  <button mat-flat-button color="primary">
    <mat-icon>home</mat-icon>
    <span>primary</span>
  </button>
  <button mat-flat-button color="accent">
    <mat-icon>home</mat-icon>
    <span>secondary</span>
  </button>
  <button mat-button color="primary">
    <mat-icon>home</mat-icon>
    <span>tertiary</span>
  </button>
</section>

<section>
  <h3>Rounded primary button</h3>
  <div class="example-button-row">
    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon">attach_file</mat-icon>
    </button>
    <button mat-icon-button disabled>
      <mat-icon aria-label="Example icon-button with a heart icon">attach_file</mat-icon>
    </button>
  </div>
</section>

<section>
  <h3>Rounded secondary button</h3>
  <div class="example-button-row">
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <button mat-icon-button disabled>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
  </div>
</section>
