@import 'exo-platform-variables';

// TODO: See to move this @mixin to design system or change the styles in order to use the new styles in the different components.
@mixin service-title() {
  font-family: $exo-service-font-grotesk;
  font-size: $service-medium;
  font-weight: $weight-service-bold;
  line-height: $service-big-sm-md;
}

@mixin service-subheading-2() {
  font-family: $exo-service-font-grotesk;
  font-size: $service-smaller;
  font-weight: $weight-service-bold;
  line-height: $line-h-md-lg;
}

@mixin service-body-1() {
  font-family: $exo-service-font-roboto;
  font-size: $service-extra-sm;
  font-weight: $weight-service-regular;
  line-height: $service-medium;
}

@mixin service-caption-1() {
  font-family: $exo-service-font-roboto;
  font-size: $service-smallest;
  font-weight: $weight-service-light;
  line-height: $service-medium-xs;
}

@mixin service-md-link() {
  font-family: $exo-service-font-grotesk;
  font-size: $service-smaller;
  font-weight: $weight-service-bold;
  cursor: pointer;
  text-decoration: underline;
  color: map_get($exo-grey, 900);
}
