$exo-service-font-grotesk: 'HKGrotesk';
$exo-service-font-roboto: 'Roboto';

// Sizes:
$service-smallest: 14px;
$service-extra-sm: 16px;
$service-smaller: 18px;
$service-medium-xs: 21px;
$service-medium: 24px;
$service-big-sm-md: 36px;

// weight
$weight-service-light: 300;
$weight-service-regular: 400;
$weight-service-bold: 700;

// line heights
$line-h-md-lg: 27px;
