// weight
$weight-light:300;
$weight-regular:400;
$slight-bold: 500;
$weight-semibold:600;
$weight-bold:700;
$weight-black:900;

// size
$extra-sm: 12px;
$smaller: 14px;
$small: 16px;
$med-sm: 20px;
$medium: 24px;
$big: 34px;
$bigger: 50px;
$extra-big: 72px;

$font-family-roboto: Roboto, 'Helvetica Neue', sans-serif !default;
$font-family-poppins: Poppins, 'Helvetica Neue', sans-serif !default;
$font-family-text: Lato, Roboto, 'Helvetica Neue', sans-serif !default;
