<mat-toolbar color="primary" [ngClass]="['mat-elevation-z6']">
  <img src="assets/logo_white.svg" alt="Logo openexo">
  <a routerLink='/components'>Components</a>
  <a routerLink='/utilities'>Utilities</a>
  <a routerLink='/brand-guides'>Brand Guidelines</a>
  <a routerLink='/content-guides'>Content Guidelines</a>
  <span class="spacer"></span>
  <a class="link-github" href="https://github.com/exolever/exo-design-system" target="_blank">
    <img src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg" alt="github-icon">
  </a>
</mat-toolbar>
