:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

img {
  height: 26px;
  margin-right: 16px;
}

exo-toolbar a {
  display: inline-flex;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
