@import '../../theming/theming';
@mixin exo-chips-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-chip {
    border: 1px solid transparent;
  }
  .mat-chip:not(.mat-basic-chip), .mat-basic-chip{
    &.default{
      color: mat-color($background, 'exo-chip-color');
    }
    &.outlined{
      background-color: transparent;
      border: 1px solid mat-color($background, 'exo-chip-outlined-border-color');
      color: mat-color($background, 'exo-chip-outlined-color');
      &.disabled{
        color: mat-color($foreground, 'disabled');
        border-color: mat-color($foreground, 'disabled');
      }
    }
  }
}
