@import '../../theming/theming';

.mat-chip:not(.mat-basic-chip), .mat-basic-chip{
  margin-bottom: 10px !important;
  font-family: $roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #46464b;
  background-color: rgba(70, 70, 75, 0.08);
  &:focus {
    box-shadow: none !important;
  }
  &.pointer {
    cursor: pointer;
  }
  &.outlined{
    letter-spacing: 0.010em;
  }
}
