@import '../../theming';

button.mat-menu-item {
  text-transform: initial;
}
.mat-menu-item{
  font-family: $font-family;
  &.menu-title{
    @include mat-typography-level-to-styles($exo-typography, body-2);
    mat-icon{
      font-size: 16px;
    }
  }
}

.mat-select-panel {
  max-height: 265px !important;
}
