@import '../../../theming';
@mixin exo-platform-chips-theme($theme) {
  // config
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);


  .mat-chip {
    height: 32px;
    background-color: mat-color($background, 'chip-background');
    &.mat-standard-chip.not-effects {
      &:focus {
        background-color: transparent;
      }
      &:hover {
        background-color: transparent;
      }
    }
    mat-icon.mat-chip-remove.material-icons[matchipremove] {
      opacity: 1;
      &:hover {
        color: mat-color($foreground, 'chip-remove-icon-hover');
        opacity: 1;
      }
    }
  }
}
