@import '../../theming';

@mixin exo-platform-input-theme($theme) {
  $background: map-get($theme, background);

  textarea[matInput] {
    min-height: 80px;
  }

  .mat-form-field-flex {
    border-radius: 6px;
    padding: 6px 12px 12px 12px;
    background: mat-color($background, input-background);
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline.mat-form-field-underline {
    // Padding added to input substract border-radius.
    margin-left: 2px;
    width: calc(100% - 4px);
    border-radius: 0 0 6px 6px;
    height: 2px;
  }

  .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    border-radius: 0 0 6px 6px;
    height: 2px;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    border-radius: 0 0 6px 6px;
  }

}
