// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'exo-color';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$demo-primary: mat-palette($exo-purple, 500);
$demo-accent: mat-palette($exo-teal, A400);
$demo-warn: mat-palette($exo-red, 500);

// Create the theme object (a Sass map containing all of the palettes).
$demo-theme: mat-light-theme($demo-primary, $demo-accent, $demo-warn);

// Example of alternate theme.
$alternate-primary: mat-palette($mat-blue, 600);
$alternate-accent:  mat-palette($mat-blue-grey);
$alternate-warn: mat-palette($mat-deep-orange);
$alternate-theme: mat-light-theme($alternate-primary, $alternate-accent, $alternate-warn);

$demo-typography: mat-typography-config(
  //$font-family: 'Roboto, monospace',
  //$headline: mat-typography-level(32px, 48px, 700),
  //$body-1: mat-typography-level(16px, 24px, 500)
);
