@import '~@angular/material/theming';

$typography: mat-typography-config(
  $font-family: 'HKGrotesk',
  $display-1: mat-typography-level(48px, 56px, 700, 'HKGrotesk'),
  $headline: mat-typography-level(32px, 1.5, 700, 'HKGrotesk'),
  $title: mat-typography-level(24px, 1.5, 700, 'HKGrotesk'),
  $subheading-2: mat-typography-level(18px, 1.5, 700, 'HKGrotesk'),
  $body-1: mat-typography-level(16px, 1.5, 400, 'Roboto'),
  $body-2: mat-typography-level(16px, 1.5, 700, 'Roboto'),
  $caption: mat-typography-level(14px, 1.5, 400, 'Roboto'),
  $button: mat-typography-level(14px, 1.5, 700, 'HKGrotesk'),
  $input: mat-typography-level(20px, 1.5, 400, 'Roboto')
);

// Section - Mini-caption - caption 2
@include angular-material-typography($typography);
