@import '~@angular/material/theming';

$normal: 400;
$bold: 700;
$grotesk: 'HKGrotesk';
$roboto: 'Roboto';

$exo-typography: mat-typography-config(
  $font-family: $roboto,
  $display-1: mat-typography-level(48px, 56px, $bold, $grotesk),
  $headline: mat-typography-level(32px, 1.5, $bold, $grotesk),
  $title: mat-typography-level(24px, 1.5, $bold, $grotesk),
  $subheading-2: mat-typography-level(18px, 1.5, $bold, $grotesk),
  $body-1: mat-typography-level(16px, 1.5, $normal, $roboto),
  $body-2: mat-typography-level(16px, 1.5, $bold, $roboto),
  // For design people this will be caption-1 instead caption, i create an alias to be able use .caption-1
  $caption: mat-typography-level(14px, 1.5, $normal, $roboto),
  $button: mat-typography-level(14px, 1.5, $bold, $grotesk),
  $input: mat-typography-level(16px, 1.5, 400, $roboto)
);

@include angular-material-typography($exo-typography);

// MIXINS
@mixin section() {
  font-family: $grotesk;
  font-weight: $bold;
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 4px;
}

@mixin big-body() {
  font-family: $roboto;
  font-weight: $normal;
  font-size: 20px;
  line-height: 1.5em;
}

@mixin caption-2() {
  font-family: $roboto;
  font-weight: $bold;
  font-size: 14px;
  line-height: 1.5em;
}

@mixin mini-caption() {
  font-family: $roboto;
  font-weight: $normal;
  font-size: 12px;
  line-height: 1.5em;
}

h1, .headline {
  @include mat-typography-level-to-styles($exo-typography, headline);
  margin: 0 0 16px;
}

h2, .title {
  @include mat-typography-level-to-styles($exo-typography, title);
  margin: 0 0 16px;
}

h3, .subheading-2 {
  @include mat-typography-level-to-styles($exo-typography, subheading-2);
  margin: 0 0 16px;
}

p {
  margin: 0 0 12px
}

p, .body-1 {
  @include mat-typography-level-to-styles($exo-typography, body-1);
}

a {
  text-decoration: underline;
}

.display-1 {
  @include mat-typography-level-to-styles($exo-typography, display-1);
  margin: 0 0 56px;
}

.body-2 {
  @include mat-typography-level-to-styles($exo-typography, body-2);
}

.section {
  @include section();
}

.big-body {
  @include big-body();
}

.caption-1 {
  @include mat-typography-level-to-styles($exo-typography, caption);
}

.caption-2 {
  @include caption-2();
}

.mini-caption {
  @include mini-caption();
}
