<h3>Multiple appearance:</h3>
<mat-button-toggle-group [multiple]="true" #group="matButtonToggleGroup">
  <exo-button-toggle [bgColorChecked]="'primary'" value="left">
    <mat-icon>format_align_left</mat-icon>
  </exo-button-toggle>
  <exo-button-toggle [bgColorChecked]="'accent'" value="center">
    <mat-icon>format_align_center</mat-icon>
  </exo-button-toggle>
  <exo-button-toggle [bgColorChecked]="'warn'" value="right">
    <mat-icon>format_align_right</mat-icon>
  </exo-button-toggle>
  <exo-button-toggle value="justify" disabled>
    <mat-icon>format_align_justify</mat-icon>
  </exo-button-toggle>
</mat-button-toggle-group>
<div class="example-selected-value">Selected value: {{group.value}}</div>

<h3>Default appearance:</h3>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style" #groupDefault="matButtonToggleGroup">
  <exo-button-toggle [bgColorChecked]="'primary'" value="bold">Bold</exo-button-toggle>
  <exo-button-toggle [bgColorChecked]="'accent'" value="italic">Italic</exo-button-toggle>
  <exo-button-toggle [bgColorChecked]="'warn'" value="underline">Underline</exo-button-toggle>
</mat-button-toggle-group>
<div class="example-selected-value">Selected value: {{groupDefault.value}}</div>

<h3>Legacy appearance:</h3>
<mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style" #groupLegacy="matButtonToggleGroup">
  <exo-button-toggle [bgColorChecked]="'primary'" value="bold">Bold</exo-button-toggle>
  <exo-button-toggle [bgColorChecked]="'accent'" value="italic">Italic</exo-button-toggle>
  <exo-button-toggle [bgColorChecked]="'warn'" value="underline">Underline</exo-button-toggle>
</mat-button-toggle-group>
<div class="example-selected-value">Selected value: {{groupLegacy.value}}</div>

<h3>Alternative theme - multiple appearance:</h3>
<div class="alternate-theme">
  <mat-button-toggle-group [multiple]="true" #groupAlternative="matButtonToggleGroup">
    <exo-button-toggle [bgColorChecked]="'primary'" value="left">
      <mat-icon>format_align_left</mat-icon>
    </exo-button-toggle>
    <exo-button-toggle [bgColorChecked]="'accent'" value="center">
      <mat-icon>format_align_center</mat-icon>
    </exo-button-toggle>
    <exo-button-toggle [bgColorChecked]="'warn'" value="right">
      <mat-icon>format_align_right</mat-icon>
    </exo-button-toggle>
    <exo-button-toggle value="justify" disabled>
      <mat-icon>format_align_justify</mat-icon>
    </exo-button-toggle>
  </mat-button-toggle-group>
  <div class="example-selected-value">Selected value: {{groupAlternative.value}}</div>
</div>
