<h1>Avatars</h1>
<section>
  <h3>Mini Avatar</h3>
  <exo-avatar src="https://www.placecage.com/100/100"
              alt="calm cage"
              tooltip="Calm cage"
              tooltipPosition="right"
              size="xs"
  ></exo-avatar>
</section>
<section>
  <h3>Regular Avatar</h3>
  <exo-avatar src="https://www.fillmurray.com/150/150"
              alt="fill murray"
              tooltip="Fill murray"
              tooltipPosition="above"
              [certificates]="certifications"
  ></exo-avatar>
</section>
<section>
  <h3>Big avatar</h3>
  <exo-avatar src="https://www.stevensegallery.com/150/150"
              alt="steven seagal"
              tooltip="Steven Seagal"
              size="lg"
              tooltipPosition="left"
              [certificates]="certifications"
  ></exo-avatar>
</section>
<section>
  <h3>Super Avatar</h3>
  <exo-avatar src="https://www.stevensegallery.com/200/200"
              alt="super steven seagal"
              tooltip="Steven Seagal"
              size="xl">
  </exo-avatar>
</section>
<section>
  <h3>Square Avatar</h3>
  <exo-avatar src="https://www.stevensegallery.com/100/100"
              alt="super steven seagal"
              tooltip="Steven Seagal"
              tooltipPosition="right"
              shape="rect"
              size="xl">
  </exo-avatar>
</section>
