<section>
  <h3>Mini</h3>
  <exo-avatar-system name="Nicolas cage" [connected]="true">
    <exo-avatar src="https://www.placecage.com/100/100"
                alt="calm cage"
                tooltip="Calm cage"
                tooltipPosition="right"
                size="xs"
    ></exo-avatar>
  </exo-avatar-system>
</section>

<section>
  <h3>Regular</h3>
  <exo-avatar-system name="Fill murray" description="American actor, comedian, and writer" [connected]="true">
    <exo-avatar
      [imageSet]="imagesSet1"
      tooltipPosition="above"
      [certificates]="certifications4"
    ></exo-avatar>
  </exo-avatar-system>
</section>

<section>
  <h3>Big</h3>
  <exo-avatar-system name="Steven Seagal" description="actor, producer, screenwriter, martial artist, musician" direction="column">
    <exo-avatar [imageSet]="imagesSet1"
                size="lg"
                tooltipPosition="left"
                [certificates]="certifications5"
    ></exo-avatar>
  </exo-avatar-system>
</section>

<section>
  <h3>Super</h3>
  <exo-avatar-system name="Steven Seagal" description="actor, producer, screenwriter, martial artist, musician" direction="column">
    <exo-avatar [imageSet]="imagesSet1"
                size="xl"
                [certificates]="certifications4"
    ></exo-avatar>
  </exo-avatar-system>
</section>
<section>
  <h3>Super</h3>
  <exo-avatar-system name="Rick Sanchez" description="Cartoon, starring @ Rick & Morty" direction="column">
    <exo-avatar [imageSet]="imagesSet1"
                size="lg"
                [certificates]="certifications6"
    ></exo-avatar>
  </exo-avatar-system>
</section>

<section>
  <h3>Set of avatars</h3>
    <exo-avatar [imageSet]="imagesSet"
                maxSetShowed="3"
    ></exo-avatar>
</section>
