<section>
  <h3>Mini</h3>
  <exo-avatar-system name="Nicolas cage" [connected]="true">
    <exo-avatar src="https://www.placecage.com/100/100"
                alt="calm cage"
                tooltip="Calm cage"
                tooltipPosition="right"
                size="xs"
    ></exo-avatar>
  </exo-avatar-system>
</section>

<section>
  <h3>Regular</h3>
  <exo-avatar-system name="Fill murray" description="American actor, comedian, and writer" [connected]="true">
    <exo-avatar src="https://www.fillmurray.com/150/150"
                alt="fill murray"
                tooltip="Fill murray"
                tooltipPosition="above"
                [certificates]="certifications2"
    ></exo-avatar>
  </exo-avatar-system>
</section>

<section>
  <h3>Big</h3>
  <exo-avatar-system name="Steven Seagal" description="actor, producer, screenwriter, martial artist, musician" direction="column">
    <exo-avatar src="https://www.stevensegallery.com/150/150"
                alt="steven seagal"
                tooltip="Steven Seagal"
                size="lg"
                tooltipPosition="left"
                [certificates]="certifications3"
    ></exo-avatar>
  </exo-avatar-system>
</section>

<section>
  <h3>Super</h3>
  <exo-avatar-system name="Steven Seagal" description="actor, producer, screenwriter, martial artist, musician" direction="column">
    <exo-avatar src="https://www.stevensegallery.com/200/200"
                alt="super steven seagal"
                tooltip="Steven Seagal"
                size="xl"
                [certificates]="certifications4"
    ></exo-avatar>
  </exo-avatar-system>
</section>
