$purple-primary-text: #6f23ff;
$exo-dark-primary-text: #46464b;
$exo-light-primary-text: white;

$exo-red: (
  50: #ffe6e6,
  100: #ffd9d9,
  200: #ffcccc,
  300: #ffb2b3,
  400: #ff9899,
  500: #ff7273,
  600: #ef5d5e,
  700: #d55252,
  800: #bb4647,
  900: #a13c3d,
  A100: #ffcccc,
  A200: #ff9899,
  A400: #ff7273,
  A700: #ef5d5e,
  contrast:
  (
    50: $exo-dark-primary-text,
    100: $exo-dark-primary-text,
    200: $exo-dark-primary-text,
    300: $exo-dark-primary-text,
    400: $exo-dark-primary-text,
    500: $exo-light-primary-text,
    600: $exo-light-primary-text,
    700: $exo-light-primary-text,
    800: $exo-light-primary-text,
    900: $exo-light-primary-text,
    A100: $exo-dark-primary-text,
    A200: $exo-light-primary-text,
    A400: $exo-light-primary-text,
    A700: $exo-light-primary-text
  )
);

$exo-purple: (
  50: #d9c5ff,
  100: #c29fff,
  200: #b48aff,
  300: #9a62ff,
  400: #7e38ff,
  500: #6f23ff,
  600: #6620ed,
  700: #5c1cd7,
  800: #5018bf,
  900: #3a1090,
  A100: #b48aff,
  A200: #7e38ff,
  A400: #6f23ff,
  A700: #6620ed,
  contrast:
  (
    50: $exo-dark-primary-text,
    100: $exo-dark-primary-text,
    200: $exo-dark-primary-text,
    300: $exo-dark-primary-text,
    400: $exo-dark-primary-text,
    500: $exo-light-primary-text,
    600: $exo-light-primary-text,
    700: $exo-light-primary-text,
    800: $exo-light-primary-text,
    900: $exo-light-primary-text,
    A100: $exo-dark-primary-text,
    A200: $exo-light-primary-text,
    A400: $exo-light-primary-text,
    A700: $exo-light-primary-text
  )
);

$exo-indigo: (
  50: #e7ebef,
  100: #cfd7de,
  200: #87c2ce,
  300: #9faebe,
  400: #8699ad,
  500: #6c859c,
  600: #526f8b,
  700: #375b7b,
  800: #002e58,
  900: #001846,
  A100: #87c2ce,
  A200: #8699ad,
  A400: #6c859c,
  A700: #526f8b,
  '0.08': rgba(#001846, 0.08),
  '0.16': rgba(#001846, 0.16),
  contrast:
  (
    50: $exo-dark-primary-text,
    100: $exo-dark-primary-text,
    200: $exo-dark-primary-text,
    300: $exo-dark-primary-text,
    400: $exo-dark-primary-text,
    500: $exo-light-primary-text,
    600: $exo-light-primary-text,
    700: $exo-light-primary-text,
    800: $exo-light-primary-text,
    900: $exo-light-primary-text,
    A100: $exo-dark-primary-text,
    A200: $exo-light-primary-text,
    A400: $exo-light-primary-text,
    A700: $exo-light-primary-text,
    '0.08': $purple-primary-text,
    '0.16': $purple-primary-text,
  )
);

$exo-grey: (
  50: #f1f1f1,
  100: #ebebeb,
  200: #d2d2d3,
  300: #bfbfc0,
  400: #a6a6a8,
  500: #97979a,
  600: #8a8a8d,
  700: #7a7a7d,
  800: #646468,
  900: #46464b,
  A100: #d2d2d3,
  A200: #a6a6a8,
  A400: #97979a,
  A700: #8a8a8d,
  contrast:
  (
    50: $exo-dark-primary-text,
    100: $purple-primary-text,
    200: $exo-dark-primary-text,
    300: $exo-dark-primary-text,
    400: $exo-dark-primary-text,
    500: $exo-dark-primary-text,
    600: $exo-light-primary-text,
    700: $exo-light-primary-text,
    800: $exo-light-primary-text,
    900: $exo-light-primary-text,
    A100: $exo-dark-primary-text,
    A200: $exo-dark-primary-text,
    A400: $exo-dark-primary-text,
    A700: $exo-light-primary-text
  )
);

$exo-amber: (
  50: #fff0da,
  100: #ffe7c2,
  200: #ffdda8,
  300: #ffd38f,
  400: #ffce82,
  500: #ffca75,
  600: #ffc26b,
  700: #ffb05c,
  800: #fca155,
  900: #e7934d,
  A100: #ffe57f,
  A200: #ffd740,
  A400: #ffc400,
  A700: #ffab00,
  contrast:
  (
    50: $exo-dark-primary-text,
    100: $exo-dark-primary-text,
    200: $exo-dark-primary-text,
    300: $exo-dark-primary-text,
    400: $exo-dark-primary-text,
    500: $exo-dark-primary-text,
    600: $exo-dark-primary-text,
    700: $exo-dark-primary-text,
    800: $exo-dark-primary-text,
    900: $exo-dark-primary-text,
    A100: $exo-dark-primary-text,
    A200: $exo-dark-primary-text,
    A400: $exo-dark-primary-text,
    A700: $exo-dark-primary-text
  )
);

$exo-teal: (
  50: #a4e7e9,
  100: #82dee1,
  200: #59d6d9,
  300: #00c6ca,
  400: #00b6bc,
  500: #009688,
  600: #00a5ad,
  700: #00888d,
  800: #00797e,
  900: #005a5e,
  A100: #6ae5d5,
  A200: #00d7c0,
  A400: #00cfb3,
  A700: #00bda3,
  contrast:
  (
    50: $exo-dark-primary-text,
    100: $exo-dark-primary-text,
    200: $exo-dark-primary-text,
    300: $exo-dark-primary-text,
    400: $exo-dark-primary-text,
    500: $exo-light-primary-text,
    600: $exo-light-primary-text,
    700: $exo-light-primary-text,
    800: $exo-light-primary-text,
    900: $exo-light-primary-text,
    A100: $exo-dark-primary-text,
    A200: $exo-dark-primary-text,
    A400: $exo-dark-primary-text,
    A700: $exo-dark-primary-text
  )
);

$exo-blue: (
  50: #d0f4ff,
  100: #9ceaff,
  200: #5ddfff,
  300: #00d5ff,
  400: #00cfff,
  500: #00c5ff,
  600: #00b4f7,
  700: #00a2e6,
  800: #0094d4,
  900: #007aaf,
  A100: #5DDFFF,
  A200: #00CFFF,
  A400: #00C5FF,
  A700: #00B4F7,
  '500-0.08': rgba(#00c5ff, 0.08),
  '500-0.16': rgba(#00c5ff, 0.16),
  contrast:
  (
    50: $exo-dark-primary-text,
    100: $exo-dark-primary-text,
    200: $exo-dark-primary-text,
    300: $exo-dark-primary-text,
    400: $exo-dark-primary-text,
    500: $exo-light-primary-text,
    600: $exo-light-primary-text,
    700: $exo-light-primary-text,
    800: $exo-light-primary-text,
    900: $exo-light-primary-text,
    A100: $exo-dark-primary-text,
    A200: $exo-light-primary-text,
    A400: $exo-light-primary-text,
    A700: $exo-light-primary-text,
    '500-0.08': $exo-light-primary-text,
    '500-0.16': $exo-light-primary-text,
  )
);

$resource-colors: (
  pdf: map_get($exo-red, 700),
  spreadsheet: map_get($exo-teal, 600),
  document: map_get($exo-blue, 700),
  slides: map_get($exo-amber, 700),
  form: map_get($exo-purple, 700)
);
