@import '../../../../../node_modules/@angular/material/theming';
@import 'colors';

$primary: mat-palette($exo-purple);
$secondary: mat-palette($exo-indigo, '0.08');
$warn: mat-palette($exo-red);

$light-theme: mat-light-theme($primary, $secondary, $warn);
