@import '../../theming/theming';

@mixin exo-loader-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  .app-loading{
    background-color: mat-color($background, card);
    .double-bounce1,
    .double-bounce2 {
      background-color: mat-color($primary);
    }
  }
}
