@import '../../theming';

@mixin exo-datepicker-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  .md2-calendar-header,
  .md2-calendar-body-selected,
  .md2-clock-cell.md2-clock-cell-selected{
    background-color: mat-color($primary) !important;
  }
  .md2-calendar-body-today:not(.md2-calendar-body-selected){
    border-color: mat-color($primary)!important;
    background: none !important;
  }
  .md2-datepicker-input.md2-datepicker-input-focused {
    color:  mat-color($primary) !important;
    border-color:  mat-color($primary) !important;
  }
  .md2-datepicker-value {
    color: mat-color($foreground, 'text') !important;
  }
  .md2-datepicker-input {
    color: mat-color($foreground, 'secondary-text') !important;
  }
}
