@import '../../theming/theming';

@mixin exo-list-theme($theme) {
  $foreground: map-get($theme, foreground);
  .mat-list {
    .mat-list-item .mat-icon:not(.mat-primary):not(.mat-accent):not(.custom) {
      color: mat-color($foreground, icon);
    }
  }

}
