.md2-calendar-date.md2-calendar-date-today{
  border: 0 !important;
}
.datepicker-container {
  position: relative;
  .datepicker-wrapper {
    padding-bottom: 10px;
  }
  .mat-hint {
    left: 33px;
  }
}
.datepicker.appearance-fill {
  background-color: rgba(70, 70, 75, 0.04);
  border-radius: 4px;
  padding: .4em;
  min-height: 60px;
}
