<mat-toolbar color="primary">
  <ng-content select=".toolbar-section"></ng-content>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" role="navigation" opened>
    <mat-nav-list>
      <a *ngFor="let link of navList" mat-list-item [routerLink]="link.href" routerLinkActive="active-link">
        {{link.copy}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
