@import '../../theming/theming';
.rating {
  align-items: flex-start !important;
  justify-content: flex-start !important;
  margin-bottom: 0 !important;
}

.star-container{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.rating:not(.read-only){
  & > .star-container {
    cursor: pointer;
  }
}

.exo-platform {
  .star-container {
    .star {
      padding-right: map-get($spaceMeasures, 'xxs');
    }
  }
}
