@import '../../theming';


.cdk-drag-preview {
  .drag-indicator {
    color: mat-color($exo-purple, 500);
  }
}

.delete-btn {
  height: map-get($spaceMeasures, 'lg');
  width: auto;
  background-color: mat-color($mat-indigo, 900, .08);
  border-radius: 50%;
  border: none;

  mat-icon {
    vertical-align: middle;
    color: mat-color($exo-purple, 500) !important;
  }
}

